<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Login Authentication System in Flask.</h1>
    <a href="{{url_for('login')}}">Click Me To Login in</a><br>
    <h2>If you doesn't have any account, Let's create one!</h2>
    <a href="{{url_for('register')}}">Create an account for free</a>

</body>

</html>